<header class="bg-gray-800 text-white py-4">
	<div
		class="container mx-auto flex justify-between items-center">
		<!-- Logo -->
		<a href="/" class="font-semibold text-xl">Moult</a>

		<!-- Navigation links -->
		<nav>
			<ul class="flex space-x-4">
				<li>
					<a href="#" class="hover:text-gray-300">HOMME</a>
				</li>
				<li>
					<a href="#" class="hover:text-gray-300">FEMME</a>
				</li>
				<li>
					<a href="#" class="hover:text-gray-300">ACCESSOIRES</a>
				</li>
				<li>
					<a href="#" class="hover:text-gray-300">NOTRE HISTOIRE</a>
				</li>
			</ul>
		</nav>

		<!-- Icons -->
		<div class="flex space-x-4">
			<a href="#" class="hover:text-gray-300">
				<i class="fas fa-search"></i>
			</a>
			<a href="#" class="hover:text-gray-300">
				<i class="far fa-heart"></i>
			</a>
			<a href="#" class="hover:text-gray-300">
				<i class="fas fa-user"></i>
			</a>
			<a href="#" class="hover:text-gray-300">
				<i class="fa-solid fa-bag-shopping"></i>
			</a>
		</div>
	</div>
</header>

