.header-image-container {
    max-height: 100vh;
}

// Styles personnalisés pour la liste déroulante des options de manche
.custom-dropdown-item {
    display: flex;
    align-items: center;
}

.custom-select .sleeve-option-item {
    align-items: center;
}

// Image miniature des manches
.sleeve-thumbnail {
    width: 32px;
    height: auto;
    margin-right: 6px;
}

// Styles personnalisés pour la liste déroulante des options de manche
.sleeve-options-wrapper {
    position: relative;
}

#sleeve-options-menu {
    width: calc(100% - 2px);
}

// ...
.hidden {
    display: none;
}
