// Styles personnalisés pour la liste déroulante des options de manche
.custom-dropdown-item {
    display: flex;
    align-items: center;
}

.custom-select .sleeve-option-item {
    align-items: center;
}

// Styles personnalisés pour la liste déroulante des options de manche
.sleeve-options-wrapper {
    position: relative;
}

#sleeve-options-menu {
    width: calc(100% - 2px);
}



