{% set product = entity.instance %}

{% for productImages in product.productImages %}
	<img src="{{ vich_uploader_asset(productImages, 'pathFile')|imagine_filter('admin_thumbnail') }}">

{% else %}
	<span class="badge badge-secondary">
		Empty
	</span>

{% endfor %}
